* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


.wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.caixa-menu {
    color: rgba(152, 157, 156, 1);
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-left: 60px;
    height: 50px;
    align-items: center;
    margin-top: 38px;
    display: flex;
    gap: 23px;
}

.right {
    padding-left: 70px;
    margin: 120px 0px 0px -10px;
    width: 590px;
    height: 450px;
}

.login {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    border: none;
    background: rgba(102, 90, 225, 1);
    cursor: pointer;
    width: 130px;
    height: 41px;
    border-radius: 50px;
}

main {
    width: 490px;
    margin-left: -130px;
}

img {
    margin-top: 40px;
    margin-left: 110px;
    width: 480px;
}


h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 100%;
    letter-spacing: 0%;
}

h2 {
    margin-top: 10px;
    font-weight: 500;
    font-size: 58px;
    line-height: 100%;
    letter-spacing: 0%;

}

p {
    margin-top: 32px;
    color: #848484;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;

}

.explore {
    color: #000000;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    background-color: #ADFF00;
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 4px 0px #00000040;
    margin-top: 65px;
    width: 239px;
    height: 64px;
    border-radius: 50px;
}

@media (max-width:1300px) {
    .wrapper {
        zoom: 0.9;
    }
}

@media (max-width:1200px) {
    .wrapper {
        zoom: 0.8;
    }
}
@media (max-width:1000px) {
    .wrapper {
        zoom: 0.7;
    }
}

@media (max-width:900px) {
    .wrapper {
        zoom: 1;
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
    }

    .caixa-menu {
        position: relative;
        left: 15vw;
        color: rgba(152, 157, 156, 1);
        font-weight: 600;
        font-size: 3vw;
        line-height: 100%;
        letter-spacing: 0%;
        height: 50px;
        align-items: center;
        margin-top: 30px;
        display: flex;
        gap: 10px;
    }

    .left {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100vw;
    }


    .right {
        position: relative;
        top: -260vw;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 50vw;
    }

    .login {
        position: relative;
        top: 8vh;
        right: 53vw;
        color: #FFFFFF;
        font-size: 5vw;
        line-height: 100%;
        letter-spacing: 0%;
        border: none;
        background: rgba(102, 90, 225, 1);
        cursor: pointer;
        width: 35vw;
        height: 8vh;
        border-radius: 50px;
    }

    main {
        display: flex;
        flex-direction: column;
        width: 490vw;
        margin-left: 0vw;
    }

    img {
        margin-left: -5vw;
        margin-top: 5vw;
        position: relative;
        top: 5vh;
        width: 80vw;
    }


    h1 {
        position: relative;
        top: 250vw;
        left: -5vw;
        font-size: 15vw;
        line-height: 100%;
        letter-spacing: 0%;
        font-weight: 800;
    }

    h2 {
        margin-top: 250vw;
        margin-left: -9vw;
        font-weight: 500;
        font-size: 9vw;
        line-height: 100%;
        letter-spacing: 0%;

    }

    p {
        padding: 5vw;
        text-align: center;
        margin-top: 5vw;
        margin-left: -13vw;
        color: #848484;
        font-weight: 400;
        font-size: 6vw;
        line-height: 100%;
        letter-spacing: 0%;
    }

    .explore {
        width: 65vw;
        color: #000000;
        font-weight: 700;
        font-size: 10vw;
        line-height: 15vw;
        letter-spacing: 0%;
        background-color: #ADFF00;
        cursor: pointer;
        border: none;
        box-shadow: 0vh 4vw 4vh 0vw #00000040;
        margin-top: 2vh;
        margin-left: -12vw;
        border-radius: 50vw;
    }
}